:root {
  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #6f6f6f;
  --color-secondary-light: #929292;
  --color-green-dark: #485c11;
  --color-green-neutral: #8e9c78;
  --color-green-light: #dfecc6;
}
