.hero-section {
  &__i-pad {
    // background-image: url('/images/hero-inner-screen.jpg');
    &::before {
      // background-color: ;
      color: var(--color-green-neutral);
      width: 1200px;
      height: 632px;
    }
  }
}
